body{
    font-family: 'Quicksand', sans-serif; 
    background-image: url('assets/img/bg-fornite-1.jpg'); 
    background-position: center; 
    background-repeat: repeat-y;
    height: 100vh; 
    background-size: cover;
}

::-webkit-scrollbar{
    display: none;
}

@keyframes logo {
    0%{
        margin-left: 150px;
        opacity: 0;
    }
    100%{
        margin-left: 0px;
        opacity: 1;
    }
}

@keyframes card{ 
    0%{
        margin-right: 200px;
        opacity: 0;
    }
    100%{
        margin-right: 105px;
        opacity: 1;
    }
}

#card{
    animation-name: card;
    animation-duration: 1.5s;
}

#sigin_card{
    display: none;
}

#right img{
    animation-name: logo;
    animation-duration: 1.5s;
}

#value_name,
#value_email,
#value_pass,
#value_fullname{
    color : red;
    padding: 3px 7px;
    border: 1px red solid;
    border-radius: 5px;
    display: none;
}

#wrong_name,
#wrong_pass{
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px;
    display: none;
}